<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <a href="/"><img src="assets/images/atechlogo.png" alt="" height="70" class="mb-5 w-6rems flex-shrink-0"></a>
        <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center" style="border-radius:10px">
            <span class="text-blue-500 font-bold text-3xl">404</span>
            <h1 class="text-900 font-bold text-3xl lg:text-5xl mb-2">Not Found</h1>
            <div class="text-600 mb-5">Requested resource is not available.</div>
            <img src="assets/images/404.gif" alt="Access denied" class="mb-5" width="350">
            <a href="/"><button pButton pRipple icon="pi pi-arrow-left" label="Back Home" class="p-button-text"></button></a>
        </div>
    </div>
</div>